<div class="container-fluid" style="padding: 55px 10% 5% 10%;">
    <div class="row">
        <h3 class="text-danger mb-3">Hasil Diagnosa</h3>
        <h6 class="text-secondary mb-5"><%= detail.createdAt.toLocaleString('id') %></h6>
        <table class="table table-bordered border-danger">
            <tbody>
                <tr>
                    <th scope="row" style="width: 200px;">Nama</th>
                    <td><%= locals.namaUser %></td>
                </tr>
                <tr>
                    <th scope="row">Penyakit</th>
                    <td class="text-danger"><%= detail.penyakit %></td>
                </tr>
                <tr>
                    <th scope="row">Solusi</th>
                    <td><%= detail.solusi %></td>
                </tr>
                <tr>
                    <th scope="row">Gejala</th>
                    <td>
                        <% detail.gejala.forEach((gejala, i) => { %>
                            <p><%= i + 1 %>. <%= gejala %></p>
                        <% }) %>
                    </td>
                </tr>
                <tr>
                    <th scope="row">Pencegahan</th>
                    <td>
                        <% detail.pencegahan.forEach((pencegahan, i) => { %>
                            <p><%= i + 1 %>. <%= pencegahan %></p>
                        <% }) %>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>