<div class="container-fluid" style="padding: 55px 10% 5% 10%">
  <div class="row">
    <h3 class="text-danger mb-3">Hasil Diagnosa</h3>
    <h6 class="text-secondary mb-5"><i class="bi bi-calendar-check"> </i><%= new Date().toLocaleString('id') %></h6>
    <table class="table table-bordered border-danger">
      <tbody>
        <% if (locals.namaUser) { %>
        <tr>
          <th scope="row" style="width: 200px">Nama</th>
          <td><%= locals.namaUser %></td>
        </tr>
        <% } %>
        <tr>
          <th scope="row">Kemungkinan</th>
          <td class="text-danger">
            <% riwayat.persentase.forEach(penyakit => { %>
            <p>
              <%= penyakit.nama %> : <%=
              penyakit.persentase.toString().slice(0,4) %>%
            </p>
            <% }) %>
          </td>
        </tr>
        <tr>
          <th scope="row">Penyakit</th>
          <td>
            <h6>
              <% if(riwayat.penyakit === "Rabun Jauh") { %>
                <a
                class="text-danger"
                target="_blank"
                href="https://www.alodokter.com/rabun-jauh"
                >Rabun Jauh</a
                > <span class="fs-6 fw-light fst-italic">*dipilih berdasarkan gejala terbanyak</span>
                <% } else if(riwayat.penyakit === "Rabun Dekat") { %>
                  <a
                  class="text-danger"
                  target="_blank"
                  href="https://www.halodoc.com/kesehatan/rabun-dekat"
              >Rabun Dekat</a
              > <span class="fs-6 fw-light fst-italic">*dipilih berdasarkan gejala terbanyak</span>
              <% } else if(riwayat.penyakit === "Silinder") { %>
                <a
                class="text-danger"
                target="_blank"
                href="https://hellosehat.com/mata/gangguan-penglihatan/mata-silinder/"
              >Silinder</a
            > <span class="fs-6 fw-light fst-italic">*dipilih berdasarkan gejala terbanyak</span>
            <% } else if(riwayat.penyakit === "Mata Tua") { %>
            <a
            class="text-danger"
              target="_blank"
              href="https://www.alodokter.com/presbiopi"
              >Mata Tua</a
              > <span class="fs-6 fw-light fst-italic">*dipilih berdasarkan gejala terbanyak</span>
              <% } else if(riwayat.penyakit === "Katarak") { %>
                <a
                class="text-danger"
                target="_blank"
                href="https://www.halodoc.com/kesehatan/katarak"
                >Katarak</a
                > <span class="fs-6 fw-light fst-italic">*dipilih berdasarkan gejala terbanyak</span>
              <% } else if(riwayat.penyakit === "Glaukoma") { %>
                <a
                class="text-danger"
                target="_blank"
                href="https://www.alodokter.com/glaukoma"
                >Glaukoma</a
              > <span class="fs-6 fw-light fst-italic">*dipilih berdasarkan gejala terbanyak</span>
              <% } else if(riwayat.penyakit === "Ablasio") { %>
              <a
              class="text-danger"
              target="_blank"
              href="https://www.alodokter.com/ablasi-retina"
                >Ablasio</a
              > <span class="fs-6 fw-light fst-italic">*dipilih berdasarkan gejala terbanyak</span>
              <% } else if(riwayat.penyakit === "Konjungtivitis") { %>
              <a
              class="text-danger"
              target="_blank"
              href="https://www.halodoc.com/kesehatan/konjungtivitis"
              >Konjungtivitis</a
              > <span class="fs-6 fw-light fst-italic">*dipilih berdasarkan gejala terbanyak</span>
              <% } else { %> <%= riwayat.penyakit %> <% } %>
            </h6>
          </td>
        </tr>
        <tr>
          <th scope="row">Solusi</th>
          <td><%= riwayat.solusi %></td>
        </tr>
        <tr>
          <th scope="row">Gejala</th>
          <td>
            <% riwayat.gejala.forEach((gejala, i) => { %>
            <p><%= i + 1 %>. <%= gejala %></p>
            <% }) %>
          </td>
        </tr>
        <tr>
          <th scope="row">Pencegahan</th>
          <td>
            <% riwayat.pencegahan.forEach((pencegahan, i) => { %>
            <p><%= i + 1 %>. <%= pencegahan %></p>
            <% }) %>
          </td>
        </tr>
        <tr>
          <th scope="row">Jawaban Anda</th>
          <td>
            <% riwayat.jawaban.forEach((jawaban, i) => { %>
              <% if (jawaban.slice(jawaban.length - 2, jawaban.length) === "Ya") { %>
                <p class="text-danger"><%= i + 1 %>. <%= jawaban %></p>
              <% } else {%>
                <p><%= i + 1 %>. <%= jawaban %></p>
              <% } %>
            <% }) %>
          </td>
        </tr>
      </tbody>
    </table>
    <span class="fs-6 fw-light fst-italic">*Tidak yakin dengan hasil atau jawaban anda, silahkan lakukan <a class="text-danger" href="/diagnosa">Diagnosa</a> lagi atau kunjungi <sapn class="text-danger">dokter</sapn> terdekat.</span>
  </div>
</div>
