<div class="container-fluid" style="padding: 55px 10% 5% 10%">
  <div class="row">
    <h3 class="text-danger mb-3">Riwayat Diagnosa</h3>
    <h6 class="text-secondary mb-4">A/n. <%= locals.namaUser %></h6>
    <table class="table table-hover">
      <thead>
        <tr class="text-danger">
          <th scope="col" style="width: 1rem">No</th>
          <% if (locals.isAdmin) { %>
            <th scope="col" style="width: 5rem">Nama</th>
          <% } %>
          <th scope="col" style="width: 5rem">Penyakit</th>
          <th scope="col" style="width: 5rem">Waktu</th>
          <th scope="col" style="width: 5rem">Detail</th>
        </tr>
      </thead>
      <tbody>
        <% riwayat.forEach((e,i) => { %>
        <tr>
          <th scope="row"><%= i + skip + 1 %></th>
          <% if (locals.isAdmin) { %>
            <td>
              <%= e.username %>
            </td>
          <% } %>
          <td>
            <h6>
              <% if(e.penyakit === "Rabun Jauh") { %>
              <a
                class="text-danger"
                target="_blank"
                href="https://www.alodokter.com/rabun-jauh"
                >Rabun Jauh</a
              >
              <% } else if(e.penyakit === "Rabun Dekat") { %>
              <a
                class="text-danger"
                target="_blank"
                href="https://www.halodoc.com/kesehatan/rabun-dekat"
                >Rabun Dekat</a
              >
              <% } else if(e.penyakit === "Silinder") { %>
              <a
                class="text-danger"
                target="_blank"
                href="https://hellosehat.com/mata/gangguan-penglihatan/mata-silinder/"
                >Silinder</a
              >
              <% } else if(e.penyakit === "Mata Tua") { %>
              <a
                class="text-danger"
                target="_blank"
                href="https://www.alodokter.com/presbiopi"
                >Mata Tua</a
              >
              <% } else if(e.penyakit === "Katarak") { %>
              <a
                class="text-danger"
                target="_blank"
                href="https://www.halodoc.com/kesehatan/katarak"
                >Katarak</a
              >
              <% } else if(e.penyakit === "Glaukoma") { %>
              <a
                class="text-danger"
                target="_blank"
                href="https://www.alodokter.com/glaukoma"
                >Glaukoma</a
              >
              <% } else if(e.penyakit === "Ablasio") { %>
              <a
                class="text-danger"
                target="_blank"
                href="https://www.alodokter.com/ablasi-retina"
                >Ablasio</a
              >
              <% } else if(e.penyakit === "Konjungtivitis") { %>
              <a
                class="text-danger"
                target="_blank"
                href="https://www.halodoc.com/kesehatan/konjungtivitis"
                >Konjungtivitis</a
              >
              <% } else if (e.penyakit === "Tidak ada penyakit dengan kemungiknan diatas 65%.") { %>
                Tidak Terdeteksi
              <% } else { %>
                Tidak Terdeteksi
              <% } %>
            </h6>
          </td>
          <td>
            <%= e.createdAt.toLocaleString('id', {weekday: 'long',
            day:'numeric', month: 'long', year: 'numeric'}) %>
          </td>
          <td>
            <a
              class="text-danger"
              style="text-decoration: none"
              href="/<%= e.id %>"
            >
              Detail
            </a>
          </td>
        </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
  
  <!-- Pagination -->
  <!-- <% if (pages > 0) { %>
    <div class="row mt-5">
      <div class="col">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <% if (currentPage === '1') { %>
              <li class="page-item disabled"><a class="page-link" href="#">Pertama</a></li>
            <% } else { %>
              <li class="page-item"><a class="page-link" href="/riwayat/1">Pertama</a></li>
            <% } %>

            <% let i = Number(currentPage) > 2 ? Number(currentPage) - 1 : 1 %>
  
            <% if (i !== 1) { %>
              <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
            <% } %>

            <% for( ; i <= (Number(currentPage) + 2) && i <= pages; i++ ) { %>
              <% if (i === Number(currentPage)) { %>
                <li class="page-item active"><a class="page-link" href="/riwayat/<%= i %>"><%= i %></a></li>
              <% } else {%>
                <li class="page-item"><a class="page-link" href="/riwayat/<%= i %>"><%= i %></a></li>
              <% } %>
            <% } %>

            <% if (i === (Number(currentPage) + 1) && i < pages) { %>
              <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
            <% } %>

            <% if (Number(currentPage) === pages) { %>
              <li class="page-item disabled"><a class="page-link" href="#">Terakhir</a></li>
            <% } else { %>
              <li class="page-item"><a class="page-link" href="/riwayat/<%= pages %>">Terakhir</a></li>
            <% } %>
          </ul>
        </nav>
      </div>
    </div>
  <% } %> -->

  <% if (pages > 0) { %>
    <div class="row mt-5">
      <div class="col">
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <% if (currentPage === '1') { %>
              <li class="page-item disabled"><a class="page-link" href="#">Pertama</a></li>
            <% } else { %>
              <li class="page-item"><a class="page-link" href="/riwayat/1">Pertama</a></li>
            <% } %>

            <% if (Number(currentPage) > 2) { %>
              <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
            <% } %>

            <% if (Number(currentPage) !== 1) { %>
              <li class="page-item"><a class="page-link" href="/riwayat/<%= currentPage - 1 %>"><%= currentPage - 1 %></a></li>
            <% } %>
            <li class="page-item active"><a class="page-link" href="/riwayat/<%= currentPage %>"><%= currentPage %></a></li>
            
            <% if (Number(currentPage) !== pages) { %>
              <li class="page-item"><a class="page-link" href="/riwayat/<%= Number(currentPage) + 1 %>"><%= Number(currentPage) + 1 %></a></li>
            <% } %>

            <% if ((Number(currentPage) + 1) < pages) { %>
              <li class="page-item disabled"><a class="page-link" href="#">...</a></li>
            <% } %>

            <% if (Number(currentPage) === pages) { %>
              <li class="page-item disabled"><a class="page-link" href="#">Terakhir</a></li>
            <% } else { %>
              <li class="page-item"><a class="page-link" href="/riwayat/<%= pages %>">Terakhir</a></li>
            <% } %>
          </ul>
        </nav>
      </div>
    </div>
  <% } %>
</div>
